<style>
    button {
        position:absolute;
        top:10px;
        left:10px;
    }
</style>

<div class="jumbotron">
    <button>Play</button>
</div>

<script type="text/javascript">
    $(function(){
        $("button").on({
            mouseover:function(){
                $(this).css({
                    left:(Math.random()*200)+"px",
                    top:(Math.random()*200)+"px",
                });
            }
        });
    });
</script>
